<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sushi Eater</title>
    {{!-- Google Fonts --}}
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    {{!-- Bootstrap --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    {{!-- External CSS --}}
    <link href='/assets/css/style.css' rel='stylesheet' type='text/css' />
    {{!-- Font Awesome --}}
    <script src="https://use.fontawesome.com/eeaa92a4a3.js"></script>
    {{!-- jQuery --}}
    <script src="https://code.jquery.com/jquery.js"></script>
    {{!-- External JS --}}
    <script src="/assets/js/sushi.js"></script>
</head>
<body>
    
    {{{ body }}}

</body>
</html>