* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-image: url('../images/sushibg2.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

#mainContainer {
    border: 1px solid #eee;
    border-radius: 8px;
    background: white;
    opacity: 0.9;
    width: 80vw;
    padding: 80px 20px;
    margin: 100px 0px;
}

h1 {
    margin-bottom: 30px;
}

h2 {
    font-size: 1.8em;
}

#icon {
    color: #ff5e13;
}

#new-sushi {
    width: 50vw;
}

.submitBtn {
    margin-top: 20px;
    background: #2b2d2f;
    color: white;
}

.eatenBtn, .deleteBtn {
    margin-left: 10px;
    background: #2b2d2f;
    color: white;
}

.btn:hover {
    color: white;
    background: #4b4e52;
}

.spacer {
    margin-bottom: 40px;
}

/* For iPad views */
@media (max-width: 800px) {
    #mainContainer {
        width: 90vw;
        padding: 80px 20px;
        margin: 50px 0px;
    }

    #new-sushi {
        width: 85vw;
    }
}

/* For mobile views */
@media (max-width: 500px) {
    #mainContainer {
        width: 95vw;
        padding: 60px 0px;
        margin: 10px 0px;
    }

    h2 {
        font-size: 1.6em;
    }
}